.DS_Store
.project

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/config/database.php
application/config/config.php

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
