.room {
	width: 400px;
	height: 300px;
	padding: 5px;
	margin: 10px;
}

.room h3 {
	text-align: center;
	margin: 0;
}

#roomCanvas {
	width: 400px;
	height: 300px;
	padding: 0.5em;
}

#roomCanvas h3 {
	text-align: center;
	margin: 0;
}

#roomCanvas .ui-selecting {
	background: #ccc;
}

#roomCanvas .ui-selected {
	background: #999;
}

#seatBtn {
	width: 50px;
	height: 50px;
	padding: 0.5em;
}

#doorBtn {
	width: 50px;
	height: 50px;
	padding: 0.5em;
}

#recycleBin {
	width: 50px;
	height: 50px;
	padding: 0.5em;
}

.seat {
	width: 50px;
	height: 50px;
	padding: 0.5em;
}

.seat-selected {
	background: #990 !important;
}

.door {
	width: 50px;
	height: 50px;
	padding: 0.5em;
}

.seat-img {
	width: 50px;
	height: 50px;
	background-image: url('../img/icon-seat.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.door-img {
	width: 50px;
	height: 50px;
	background-image: url('../img/icon-door.png');
	background-size: cover;
	background-repeat: no-repeat;
}


